In [1]:
import pandas as pd
import numpy as np

C:\Users\Débora\AppData\Local\Temp\ipykernel_24520\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/Débora/Desktop/Bootcamp/collected research people.csv")

In [3]:
df.head()

,Unnamed: 0,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [4]:
df = df.drop(columns=['Unnamed: 0']) #Retirar a coluna sem nome
df.head()

,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [5]:
novas_cols = {'Endereerço': 'Endereço',
              'phone': 'Telefone',
              'anual_income': 'Renda Anual',
              'AAge': 'Idade',
              'n_filhos': 'N Filhos',
              'diariamente_sun blocker': 'Usa protetor solar diariamente',
              'Food_restrictions': 'Restrição alimentar',
              'streaming': 'Streaming'
              } #Corrigir os nomes errados

df.rename(columns=novas_cols, inplace=True)
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

O **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_].

In [6]:
df.Nome

0            Maria Clara Novaes
1           Davi Lucca Pereira>
2             Sr. Caio Caldeira
3               Kaique Azevedo%
4                 Pedro Moreira
5         Sra. Ana Júlia Castro
6                Erick Carvalho
7        Sra. Ana Sophia Vieira
8              Dav4i Nascimento
9                 Juan da Mota<
10               Stephany Pinto
11                Joana Rezende
12         Dra. Letícia Ribeiro
13              Beatriz Azevedo
14               André Monteiro
15        João Guilherme Porto^
16               Augusto_ Rocha
17      Srta. Isabelly da Rocha
18              Heloísa Santos>
19              Calebe Azevedo.
20                   _Ana Alves
21      Maria Fernanda Ribeiro=
22                 Samuel Jesus
23               Beatriz Ramos?
24               Dr. Davi Cunha
25            Enrico Cavalcanti
26                /Raquel Moura
27               Lorena Cardoso
28              Diogo Caldeira#
29              Maria Gonçalves
30              Isadora Cardoso
31               Igor Ferreira'
32               Sabrina Nunes}
33           Pedro Miguel Silva
34    Dra. Clarice da Conceição
35            Daniel Rodrigues'
36                   Isis Silva
Name: Nome, dtype: object

In [32]:
df['Nome'].dtype

dtype('O')

In [42]:
#Retirar os elementos especiais dos nomes -> Use expressões regulares para isso
df.Nome.str.replace("[^a-zA-Zà-úÀ-Ú0-9]", "") #Esse símbolo retira os valores especiais e substitui por nada, como indica ''

0            Maria Clara Novaes
1           Davi Lucca Pereira>
2             Sr. Caio Caldeira
3               Kaique Azevedo%
4                 Pedro Moreira
5         Sra. Ana Júlia Castro
6                Erick Carvalho
7        Sra. Ana Sophia Vieira
8              Dav4i Nascimento
9                 Juan da Mota<
10               Stephany Pinto
11                Joana Rezende
12         Dra. Letícia Ribeiro
13              Beatriz Azevedo
14               André Monteiro
15        João Guilherme Porto^
16               Augusto_ Rocha
17      Srta. Isabelly da Rocha
18              Heloísa Santos>
19              Calebe Azevedo.
20                   _Ana Alves
21      Maria Fernanda Ribeiro=
22                 Samuel Jesus
23               Beatriz Ramos?
24               Dr. Davi Cunha
25            Enrico Cavalcanti
26                /Raquel Moura
27               Lorena Cardoso
28              Diogo Caldeira#
29              Maria Gonçalves
30              Isadora Cardoso
31               Igor Ferreira'
32               Sabrina Nunes}
33           Pedro Miguel Silva
34    Dra. Clarice da Conceição
35            Daniel Rodrigues'
36                   Isis Silva
Name: Nome, dtype: object

In [47]:
df.Telefone.str.replace('[^0-9() +-]', '*')
df.loc[df.Telefone.str.contains('[*]', na= False), 'Telefone'] = np.nan #Para colocar como NaN todos os que estavam errados

0         (011) 3908 5991
1                     NaN
2                     NaN
3                     NaN
4              -0.'8--%/]
5     +55 (084) 4591-2403
6            84 9687 5023
7              5}|#:}~<7~
8        +55 51 6868 3666
9                     NaN
10                    NaN
11          0900 093 9760
12                    NaN
13           81 2891-7504
14             ^{{52$,,78
15                    NaN
16           41 5504 8546
17           84 2319-1532
18          0800 612 6032
19                    NaN
20           51 5882 5998
21                    NaN
22             ;~).,-:5~=
23    +55 (021) 4719 9862
24        (084) 0305 6725
25        (011) 3410 5199
26                    NaN
27           84 6014-5325
28                    NaN
29       +55 71 7088-8329
30                    NaN
31           21 0712-6859
32       +55 51 2213 5603
33             8:<$9@\:~/
34       +55 51 8245 2336
35        (061) 5002 3548
36             '|2{938(=[
Name: Telefone, dtype: object

In [48]:
df['Estado Civil'] = df['Estado Civil'].replace({'S':'Solteiro',
                            'C':'Casado',
                            'D':'Divorciado',
                            'V':'Viúvo'})
df['Estado Civil']

0            NaN
1            NaN
2       Solteiro
3         Casado
4         Casado
5       Solteiro
6     Divorciado
7            NaN
8     Divorciado
9     Divorciado
10           NaN
11    Divorciado
12        Casado
13      Solteiro
14           NaN
15      Solteiro
16           NaN
17      Solteiro
18         Viúvo
19      Solteiro
20    Divorciado
21         Viúvo
22         Viúvo
23           NaN
24         Viúvo
25      Solteiro
26         Viúvo
27    Divorciado
28        Casado
29           NaN
30           NaN
31    Divorciado
32           NaN
33           NaN
34    Divorciado
35    Divorciado
36           NaN
Name: Estado Civil, dtype: object

Cenário 1:

A empresa Carri Construtora contratou a empresa que você trabalha para encontrar possíveis compradores para o seus novos empreendimentos.

A empresa quer entender as necessidades dos clientes, e quer informações com:

*   Quais cliente devemos abordar;
*   Qual empreendimento nós devemos mostrá-los;
*   Esse cliente está em busca em investir em um imóvel ou comprar para moradia?


 Se renda anual > 104 = pode participar do Minha casa minha vida

In [ ]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,NaN,53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [49]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [51]:
drop_carri = ['Restrição alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito']

In [53]:
df_carri = df.copy() #copiar a df

In [ ]:
df_carri.drop(columns=drop_carri, inplace =True)

In [ ]:
df_carri

In [57]:
#Todos podem estar no minha casa minha vida
#8*12
df_carri['Minha casa minha vida'] = True

In [59]:
# Para saber quem pode investir ou não
df_carri['Investimento'] = np.where((df_carri.Moradia == "Quitada")| (df_carri.Moradia == "Financiamento"), True, False)
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,email,Minha casa minha vida,Investimento
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com,True,True
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,Não,Sim,daviluccapereira933@exemplo.com,True,False
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,srcaiocaldeira626@gemeil.com,True,True
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com,True,True
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com,True,True

Cenário 2: Uma empresa chamada Hillo, é uma empresa que está estudando o mercado e quer encontrar uma parceria com uma empresa de Streeming (netflix, Disney plus etc), mas gostaria de saber quais as empresas dariam o maior retorno de investimento.
Eles podem fazer análise de machine learning também com esses dados.

In [60]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [75]:
df_hillo = df.copy()

In [76]:
df_hillo = df_hillo.drop(columns=[ 'Moradia', 'Restrição alimentar',
     'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito'])

In [82]:
#Como tem pessoas que possuem mais de um streaming, é necessário separar
df_hillo_strem = df_hillo['Streaming'].str.get_dummies(sep=' e ')

In [78]:
# Agora a coluna todos não faz mais sentido, temos que mudar
df_hillo.Streaming = df_hillo.Streaming.replace({"Todos": "Globo Play e Netflix e Disney Plus e HBO e Crunchyroll"})

In [80]:
#Temos que tirar os disney sem o plus
df_hillo.Streaming = df_hillo.Streaming.replace({"Netflix e Disney" : "Netflix e Disney Plus"})

In [83]:
#Colocar essas colunas na tabela
df_hillo = pd.concat([df_hillo, df_hillo_strem], axis = 1)

In [84]:
df_hillo.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,email,Crunchyroll,Disney Plus,Globo Play,HBO,Nenhum,Netflix
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Globo Play,mariaclaranovaes285@gemeil.com,0,0,1,0,0,0
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,Globo Play e Netflix e Disney Plus e HBO e Cru...,daviluccapereira933@exemplo.com,1,1,1,1,0,1
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,NaN,srcaiocaldeira626@gemeil.com,0,0,0,0,0,0
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,NaN,kaiqueazevedo731@rotmail.com,0,0,0,0,0,0
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Globo Play,pedromoreira622@gemeil.com,0,0,1,0,0,0

Cenário 3: Uma influenciadora digital de bem estar gostaria de analisar possíveis empreendimentos dentro de diferentes propostas que recebe. Essas propostas podem ser excludentes ou somatórias.

In [85]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [90]:
df_inf = df.copy()

In [91]:
df_inf = df_inf.drop(columns=['Streaming', 'Moradia'])

In [92]:
df_inf['Restrição alimentar'].str.get_dummies(sep = " e ")

    Glúten  Lactose  Nenhuma
0        0        0        1
1        0        0        0
2        1        1        0
3        1        1        0
4        0        0        0
5        0        0        0
6        0        1        0
7        0        0        1
8        0        0        1
9        0        1        0
10       0        0        1
11       0        1        0
12       1        0        0
13       0        0        0
14       1        0        0
15       0        0        0
16       1        1        0
17       1        1        0
18       1        1        0
19       0        0        0
20       0        0        0
21       0        0        0
22       0        0        1
23       0        0        1
24       0        0        0
25       0        0        0
26       1        0        0
27       1        0        0
28       0        0        1
29       0        0        1
30       1        1        0
31       0        1        0
32       1        1        0
33       0        0        0
34       0        0        0
35       0        0        1
36       0        0        0

In [93]:
# Nenhuma restrição não é interessante, então podemos tirar
restricao = df_inf['Restrição alimentar'].str.get_dummies(sep = ' e ').drop(columns=['Nenhuma'])

In [ ]:
restricao

In [95]:
df_inf = pd.concat([df_inf, restricao], axis=1)

In [100]:
df_inf.head(5)

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Restrição alimentar,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email,Glúten,Lactose,Idoso
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Nenhuma,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com,0,0,False
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,NaN,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com,0,0,False
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Lactose e Glúten,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com,1,1,True
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Lactose e Glúten,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com,1,1,False
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,NaN,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com,0,0,True

In [99]:
#Também é interessante dizer se é idoso/jovem para restringir o público
df_inf["Idoso"] = np.where(df_inf.Idade>=60, True, False)